<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST" enctype="multipart/form-data" action=""> {% csrf_token %}
        <input name="nome" type="text" placeholder="nome">
        <input name="cpf" type="text" placeholder="">
        <input name="email" type="text">
        <input name="telefone" type="text">
        <input name="altura" type="text">
        <input name="descricao" type="text">
        <input name="data_nasc" type="date">
        <input name="imagem" type="file">
        <button type="submit">Adicionar</button>
    </form>
</body>
</html>